pre {
    background-color: black;
    color: white;
    font-family: monospace;
    border-radius: 4px;
    overflow-x: scroll;

    &:before {
        content: '$';
        color:  hotpink;
    }
}
