<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2>Creating a backup copy</h2>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-card>
      <mat-card-title>Implementation Options</mat-card-title>
      <ul>
        <li>
          <code>git branch myBackupName refToCopy</code>
        </li>
        <li>
          <code>git checkout -b myBackupName refToCopy</code>
        </li>
      </ul>
    </mat-card>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2>Restoring a previous revision</h2>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-card>
      <mat-card-title>Restoring myBranch from myBackupBranch</mat-card-title>
      <ul>
        <li>
          <code>git checkout myBranch && git reset --hard myBackupName</code>
        </li>
      </ul>
    </mat-card>

    <mat-card>
      <mat-card-title>Restoring a copy of a deleted branch</mat-card-title>
      <ol>
        <li>
          <code>git reflog</code>
        </li>
        <li>
          <code>### view the output and note the ref hash to restore from
              <pre>
e4e92dc HEAD@{{1}}: commit: ummm
2132a00 HEAD@{{2}}: commit: less to scss
2dac5ae HEAD@{{3}}: commit: idk
dc4a6e5 HEAD@{{4}}: reset: moving to HEAD
dc4a6e5 HEAD@{{5}}: reset: moving to HEAD
dc4a6e5 HEAD@{{6}}: commit (amend): ...
e4ea1fb HEAD@{{7}}: commit: ...
a5b2820 HEAD@{{8}}: commit: add details; rm enum; css
1963638 (origin/master, origin/HEAD): commit: added nested slides for theory
              </pre>
          </code>
        </li>
        <li>
          <code>git checkout -b myNewBranchName && git reset --hard myRef</code>
        </li>
      </ol>
    </mat-card>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2>Reformatting (or removing) previously-committed log messages that violate pre-commit auditing</h2>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-card>
      <mat-card-title>When would I need to do this?</mat-card-title>
      <ul>
        <li>
          Say that your team or organization is checking individual commit messages for a certain format string or
          identifier from an external application in a pre-commit hook.
        </li>
        <li>
          If you have multiple commits with improperly formatted messages, you will have to rewrite or eliminate those
          problematic commit messages in order to integrate with the monitored remote repository.
        </li>
      </ul>
    </mat-card>

    <mat-card>
      <mat-card-title>What are some ways to fix this problem?</mat-card-title>
      <ul>
        <li>
          Squash the commits into one commit with a compliant log message.
        </li>
        <li>
          Amend the improperly formatted log messages so they are compliant.
        </li>
      </ul>
    </mat-card>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2>Searching committed code</h2>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-card>
      <mat-card-title>Using git grep</mat-card-title>
      <ul>
        <li>
          Here is an example that searches the spring pet clinic demo project and displays all url mappings that use path variables:
          <code>{{ugg}}
<pre>
{{uggamugga}}
</pre>
          </code>
        </li>
        <li>
          If you have multiple commits with improperly formatted messages, you will have to rewrite or eliminate those
          problematic commit messages in order to integrate with the monitored remote repository.
        </li>
      </ul>
    </mat-card>
  </mat-expansion-panel>

</mat-accordion>