<mat-card class="slide" [style.backgroundImage]="!hideDetails && slide.heroImg && 'url('+ slide.heroImg +')'">
    <mat-card-header style="border-bottom: dotted 1px white; margin-bottom: 1em;">
        <div mat-card-avatar>
            <mat-icon *ngIf="slide.icon">{{slide.icon}}</mat-icon>
        </div>
        <mat-card-title *ngIf="slide.title">{{slide.title}}</mat-card-title>
        <mat-card-subtitle *ngIf="slide.subTitle">{{slide.subTitle}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="!hideDetails">

        <ng-container [ngSwitch]="slide.type">

            <ng-container *ngSwitchCase="'ul'">
                <app-slide (click)="switchWrapper(item)" [slide]="item" *ngFor="let item of slide.bulletedList" [hideDetails]="true"></app-slide>
            </ng-container>

            <ng-container *ngSwitchCase="'img'">
            </ng-container>

            <ng-container *ngSwitchDefault>
                u must define a <b>slide.type</b>
            </ng-container>

        </ng-container>
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
</mat-card>
