<mat-card>
  <mat-card-title>Hoping to accomplish the following</mat-card-title>
  <ul>
    <li>Clone an existing repo</li>
    <li>Add a secondardy remote to above-mentioned repo</li>
    <li>Compare the two repos with commands that work with any <em>ref</em></li>
    <li>Look at log graph and notice the crossing lines for merge commits</li>
    <li>Understand that squashing/amending-commits the single most effective way to simplify git operations</li>
    <li>Show squashing techniques with over 700 commits</li>
    <li>Search 70+ repos at once for any specified period of time</li>
    <li>And so much more!</li>
  </ul>
</mat-card>