
@family: 'Montserrat';

@import './app/slides/abstract-slide.less';

html, body { height: 100%; }
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color:#424242;
}

.main-title {
    font-family: 'Codystar', sans-serif;
}

.mat-card {
    .mat-card-header, .mat-card-content {
        font-family: @family;
    }
}
