
@family: 'Montserrat';

html, body { height: 100%; }
body {
    margin: 0;
    background-color:#424242;
}

.mat-card {
    .mat-card-header, .mat-card-content {
        font-family: @family;
    }
}
