<mat-card class="slide">
    <mat-card-header style="border-bottom: dotted 1px white; margin-bottom: 1em;">
        <div mat-card-avatar class="title-img">
            <mat-icon *ngIf="getMatIconName()">{{getMatIconName()}}</mat-icon>
        </div>
        <mat-card-title *ngIf="getTitle()">{{getTitle()}}</mat-card-title>
        <mat-card-subtitle *ngIf="getSubTitle()">{{getSubTitle()}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <ng-container *ngIf="getList && getList().length">

            <mat-card class="slide-list-item" *ngFor="let item of getList()">
                <mat-card-content>
                        <a [href]="item" >
                            <button matBtn class="slide">
                            <app-slide

                            [title]="item"
                            [subtitle]="item"
                            [maticonname]="item"

                            >{{item}}</app-slide>
                            </button>
                        </a>
                </mat-card-content>
            </mat-card>
        </ng-container>
    </mat-card-content>
    <mat-card-actions>
        <!-- <button mat-button>LIKE</button>
        <button mat-button>SHARE</button> -->
    </mat-card-actions>
</mat-card>