<mat-card class="slide">
    <mat-card-header style="border-bottom: dotted 1px white; margin-bottom: 1em;">
        <div mat-card-avatar class="title-img">
            <mat-icon *ngIf="getMatIconName()">{{getMatIconName()}}</mat-icon>
        </div>
        <mat-card-title *ngIf="getTitle()">{{getTitle()}}</mat-card-title>
        <mat-card-subtitle *ngIf="getSubTitle()">{{getSubTitle()}}</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
        <mat-card class="slide-list-item" *ngFor="let item of getList()">
            <mat-card-content>
                    <a [href]="item" >
                        <button matBtn>
                        {{item}}
                        </button>
                    </a>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
    <mat-card-actions>
        <!-- <button mat-button>LIKE</button>
        <button mat-button>SHARE</button> -->
    </mat-card-actions>
</mat-card>