  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [mode]="'side'">
      <mat-toolbar></mat-toolbar>
      <mat-nav-list>
          <mat-list-item class="slide-link" *ngFor="let slide of slides;trackBy: trackByFn" (click)="onSelect(slide)"><mat-icon>{{slide.icon}}</mat-icon>{{ slide.title }}</mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon>language</mat-icon>
        </button>
        <h1 class="main-title">{{title}}</h1>
      </mat-toolbar>
      <app-slide [slide]="activeSlide"></app-slide>
    </mat-sidenav-content>
  </mat-sidenav-container>

